<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tiketsaya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ticket"></activity>
        <activity android:name=".ProfileEdit" />
        <activity android:name=".Profile" />
        <activity android:name=".TicketSuccess" />
        <activity android:name=".TicketCheckout" />
        <activity android:name=".TicketDetail" />
        <activity android:name=".Home" />
        <activity android:name=".RegisterSuccess" />
        <activity android:name=".RegisterBio" />
        <activity android:name=".Register" />
        <activity android:name=".SignIn" />
        <activity android:name=".GetStarted" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>